/* Global */

body {
  padding-top: 100px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #CC0000;
}

h3 {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
}

p {
 font-size: 16px;
}

input {
  font-size: 24px;
}

input[type=text] {
  color: #424547;
  border: 1px solid #c2c2c2;
  background-color: white;
}

em {
  font-style: normal;
  font-weight: bold;
  color: black;
}

#messagesDiv {
  background-color: white;
  overflow: auto;
  height: 230px;
  padding: 10px;
  border: 8px solid #424547;
  margin-bottom: 5px;
  text-align: left;
}

#messageInput {
  width: 100%;
}