[Unit]
Description=HP Printer Content Display Service

[Service]
WorkingDirectory=/home/root/smorgasbord/Random/Printer/Version 2.0
ExecStart=/usr/bin/python Main.py &
SyslogIdentifier=printercontentprovider

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
